<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Dale Price</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>Access Keys</string>
	<key>CFBundleIdentifier</key>
	<string>com.dalepricewebdesign.accesskeys</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>accesskeybar.html</string>
				<key>Identifier</key>
				<string>Access Keys</string>
				<key>Label</key>
				<string>Access Keys</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggleBar</string>
				<key>Identifier</key>
				<string>toggleaccesskeys</string>
				<key>Image</key>
				<string>toolbar.png</string>
				<key>Include By Default</key>
				<false/>
				<key>Label</key>
				<string>Toggle Access Keys</string>
				<key>Palette Label</key>
				<string>Access Keys</string>
				<key>Tool Tip</key>
				<string>Show or hide the Access Keys toolbar</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>accesskeyfinder.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>libraries/sizzle.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Displays site-specific keyboard shortcuts on sites with support. Key combo: ctrl+alt+[key]</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://downloads.dalepricewebdesign.com/extensions.plist</string>
	<key>Website</key>
	<string>http://dalepricewebdesign.com/safariaccesskeys</string>
</dict>
</plist>
